/*
*= require themes/ui-lightness/jquery-ui-1.10.4.custom
*/
/*
*= require bootstrap
*/

/* FONT STACK */
body,
input, select, textarea {
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}