* html #wrapper,
* html #footer {
	width: expression((documentElement.clientWidth||document.body.clientWidth)<1000?'1000px':'');
	/*overflow: scroll;*/
}

#wrapper {
    margin: 0 auto;
    width: auto;
    /*height: 100%;*/
    /*border: 1px solid #333333;*/
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    position: relative;
	height: 76px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
    position: relative;
	padding: 0 0 13px;
	height: 1%;
}
  /*
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
    margin-bottom: 0px;
}
*/
#container {
	width: 100%;
	margin: 0;
	overflow: hidden;
    min-height: 400px;
}

#content {
    float: left;
    width: 480px;
    margin: 0;
    padding-top: 20px;
	padding-left: 6px;
	padding-right: 6px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    position: relative;
	margin: -14px auto 0;
    width: auto;
	height: 14px;
}

/***********************************************/
/* emx_nav_left.css                            */
/* Use with template Halo_leftNav.html         */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/

.body fieldset {
    width:100%;
    vertical-align:top;
}

.body fieldset table{
    margin-top: 5px;
    border: none;
    width: 98.7%;
}

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

/*Header */
#mainHeader{
    float: top;
	height: 76px;
    background: url(../images/masthead_middle.png) top repeat-x;
}

#headerApplicationName {
    float: right;
    /*height: 40px;*/
    width: 70%;
    margin-top: 8px;
    margin-bottom: 2px;
    margin-left: -300px;
    font-size: 20px;
    font-weight: bold;
    /*border: 1px groove #000; */
    align: center;
}

/* headerMenu */
#headerMenu{
    position: relative;
    float: right;
    top: 15px;
    right: 8px;
    width: 900px;
	height: 30px;
	color: #00f;
	/*border: 1px groove #000;*/
}

#headerBackground {
    position: relative;
    height: 76px;
    width: 100%;
}

#headerLogo {
    position: relative;
    top: -75px;
    margin-top: 7px;
    margin-left: 10px;
}

#displayUser {
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
}

#duMain {
    width: 45%;
}

#duMsg {
    float: right;
    width: 45%;
    text-align: right;
}

#contentwrapper{
                float: left;
                width: 100%;
                height: 100%;
            }

            #contentcolumn{
                margin: 0 13px 0 13px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
                height: 100%;
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 10px;
            }

            #leftcolumn{
                float: left;
                width: 13px; /*Width of left column*/
                margin-left: -100%;
                background: transparent url(../images/main_content_middle-left.png) left repeat-y;
            }

            #rightcolumn{
                float: left;
                width: 13px; /*Width of right column*/
                margin-left: -13px; /*Set left marginto -(RightColumnWidth)*/
                background: transparent url(../images/main_content_middle-right.png) right repeat-y;
            }

            #headerLeft{
                float: left;
                width: 278px;
                height: 76px;
                background: transparent url(../images/masthead_left.png) right no-repeat;
            }
            #headerRight{
                float: right;
                width: 21px;
                height: 76px;
                background: transparent url(../images/masthead_right.png) right no-repeat;
            }


#middleTop {
    height: 14px;
    width: 100%;
    background: url(../images/main_content_top-middle.png) top repeat-x;
    /*border: 1px solid #000;*/
}

#mTopLeft {
    float: left;
    width: 13px;
    height: 14px;
    background: transparent url(../images/main_content_top-left.png) left no-repeat;
    /*border: 1px solid #000;*/
}
#mTopRight {
    position: relative;
    float: right;
    width: 13px;
    height: 14px;
    background: transparent url(../images/main_content_top-right.png) right no-repeat;
    /*border: 1px solid #000; */
}

#middleBottom {
    margin-top: -14px;
    height: 14px;
    width: 100%;
    background: url(../images/main_content_bottom-middle.png) top repeat-x;
}

#mBottomLeft {
    float: left;
    width: 13px;
    height: 14px;
    background: transparent url(../images/main_content_bottom-left.png) left no-repeat;
    /*border: 1px solid #000;*/
}
#mBottomRight {
    position: relative;
    float: right;
    width: 13px;
    height: 14px;
    background: transparent url(../images/main_content_bottom-right.png) right no-repeat;
    /*border: 1px solid #000; */
}

#footerMenu {
    background-color: #fff;
    /*border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;  */
    width: 100%;
    margin-left: -1px;
}

/************** siteInfo styles ****************/
.siteInfo{
        vertical-align: bottom;
    	clear: both;
    	font-size: 11px;
    	/*font-weight: bold;*/
    	color: #999;
    	padding: 10px 10px 10px 10px;
}

#siteInfo a:link, #siteInfo a:visited{
    color: #900;
    text-decoration: none;
    font-weight: normal;
}

#siteInfo a:hover{
	text-decoration: underline;
	font-weight: normal;
}

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}

/* Navigation */
#navigation {
  background-color: #3b4145;
  background-image: -moz-linear-gradient(top, #41484c, #31373a);
  background-image: -ms-linear-gradient(top, #41484c, #31373a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#41484c), to(#31373a));
  background-image: -webkit-linear-gradient(top, #41484c, #31373a);
  background-image: -o-linear-gradient(top, #41484c, #31373a);
  background-image: linear-gradient(top, #41484c, #31373a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41484c', endColorstr='#31373a', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
}
#navigation > ul {
  font-family: 'Magra', sans-serif;
  *zoom: 1;
  list-style: 0 none;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#navigation > ul:before,
#navigation > ul:after {
  display: table;
  content: "";
}
#navigation > ul:after {
  clear: both;
}
#navigation > ul > li {
  float: left;
  background: url("../../img/page/separatorNav.png") no-repeat right center;
  padding: 0 8px 0px 6px;
}
#navigation > ul > li a {
  display: block;
  float: left;
  height: 34px;
  line-height: 34px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#navigation > ul > li a:hover,
#navigation > ul > li a:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  background-color: #497f07;
  background-image: -moz-linear-gradient(top, #4e8908, #407107);
  background-image: -ms-linear-gradient(top, #4e8908, #407107);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e8908), to(#407107));
  background-image: -webkit-linear-gradient(top, #4e8908, #407107);
  background-image: -o-linear-gradient(top, #4e8908, #407107);
  background-image: linear-gradient(top, #4e8908, #407107);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e8908', endColorstr='#407107', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 0 #5ba006;
  -moz-box-shadow: inset 0 1px 0 0 #5ba006;
  box-shadow: inset 0 1px 0 0 #5ba006;
  text-decoration: none;
}
#navigation > ul > li a:active {
  background-color: #407107;
  background-image: -moz-linear-gradient(top, #407107, #407107);
  background-image: -ms-linear-gradient(top, #407107, #407107);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#407107), to(#407107));
  background-image: -webkit-linear-gradient(top, #407107, #407107);
  background-image: -o-linear-gradient(top, #407107, #407107);
  background-image: linear-gradient(top, #407107, #407107);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#407107', endColorstr='#407107', GradientType=0);
}
#navigation > ul > li.active > a,
#navigation > ul > li.open > a {
  background: #4e8908;
  background-color: #497f07;
  background-image: -moz-linear-gradient(top, #4e8908, #407107);
  background-image: -ms-linear-gradient(top, #4e8908, #407107);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e8908), to(#407107));
  background-image: -webkit-linear-gradient(top, #4e8908, #407107);
  background-image: -o-linear-gradient(top, #4e8908, #407107);
  background-image: linear-gradient(top, #4e8908, #407107);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e8908', endColorstr='#407107', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 0 #5ba006;
  -moz-box-shadow: inset 0 1px 0 0 #5ba006;
  box-shadow: inset 0 1px 0 0 #5ba006;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#navigation > ul > li.last {
  background: 0 none;
}
#navigation > ul > li.dropdown a.dropdown-toggle {
  padding-right: 30px;
  border: 0 none;
  position: relative;
}
#navigation > ul > li.dropdown a.dropdown-toggle span.caret {
  opacity: 1;
  filter: alpha(opacity=100);
  border-top-color: #ffffff;
  top: 12px;
  right: 13px;
  position: absolute;
}
#navigation > ul > li.dropdown li {
  padding: 0;
  margin: 0;
  line-height: 20px;
  border: 0 none;
  float: none;
  height: auto;
  -webkit-box-shadow: inset 0 0 0 #000000;
  -moz-box-shadow: inset 0 0 0 #000000;
  box-shadow: inset 0 0 0 #000000;
}
#navigation > ul > li.dropdown li a {
  padding: 0;
  margin: 0;
  border: 0 none;
  float: none;
  height: auto;
  line-height: 20px;
  color: #373d40;
  border: 0 none;
  text-shadow: 0 0 0 black;
  cursor: pointer;
}
#navigation > ul > li.dropdown li a:hover {
  background: 0 none;
  border: 0 none;
  -webkit-box-shadow: inset 0 0 0 #000000;
  -moz-box-shadow: inset 0 0 0 #000000;
  box-shadow: inset 0 0 0 #000000;
  color: #4e8908;
}
#navigation > ul > li.dropdown li.active a {
  color: #4e8908;
}
#navigation > ul > li.dropdown ul.lang-dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  top: 43px;
  border: 0 none;
  padding: 0;
  margin: 0;
}
#navigation > ul > li.dropdown ul.lang-dropdown-menu > li {
  border-bottom: 1px solid #e8e8e6;
}
#navigation > ul > li.dropdown ul.lang-dropdown-menu > li a {
  display: block;
  padding: 5px 15px;
  color: #555555;
}
#navigation > ul > li.dropdown ul.lang-dropdown-menu > li.active a,
#navigation > ul > li.dropdown ul.lang-dropdown-menu > li a:hover {
  background: #f6f6f6;
  color: #222222;
}
#navigation > ul > li.dropdown ul.lang-dropdown-menu > li:last-child {
  border-bottom: 0 none;
}

/*2*/
.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown .dropdown-toggle,
.dropdown a.dropdown-toggle {
  *margin-bottom: -3px;
  border: 1px solid transparent;
  padding: 4px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  text-decoration: none;
}
.dropdown .dropdown-toggle:hover,
.dropdown a.dropdown-toggle:hover {
  color: #373d40;
  border-color: #d4d4d2;
  background: rgba(255, 255, 255, 0.5);
}
.dropdown-full {
  width: 200px;
  margin: 5px 0;
}
.dropdown-full .dropdown-toggle,
.dropdown-full a.dropdown-toggle {
  width: 180px;
  display: block;
  padding: 5px 10px;
  border: 1px solid #eeeeee;
  color: #373d40;
  position: relative;
  color: #373d40;
}
.dropdown-full .dropdown-toggle:hover,
.dropdown-full a.dropdown-toggle:hover {
  background: #f6f6f6;
  color: #373d40;
}
.dropdown-full b.caret {
  position: absolute;
  right: 10px;
}
.dropdown-full .lang-dropdown-menu {
  right: 0;
  left: 0;
  width: 200px;
  min-width: 200px !important;
  max-width: 200px !important;
  float: none !important;
  margin-top: -1px;
}
.dropdown-full.open .dropdown-toggle,
.dropdown-full .dropdown-toggle:active {
  background: #f6f6f6 !important;
  color: #373d40 !important;
}
.dropdown-full ul li.active a {
  font-weight: bold;
  background: #f6f6f6 !important;
}
.dropdown-toggle:active,
.open > a.dropdown-toggle {
  outline: 0;
  background: #ffffff;
  text-decoration: none;
  color: #373d40;
  border: 1px solid #b3b3b3;
}
.caret {
  display: inline-block;
  width: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  content: "\2193";
}
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
.dropdown:hover .caret,
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.lang-dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  text-align: left;
  top: 100%;
  right: auto;
  float: left;
  min-width: 160px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.lang-dropdown-menu.bottom-up {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}
.lang-dropdown-menu .divider {
  height: 1px;
  margin: 5px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
  *width: 100%;
  *margin: -5px 0 5px;
}
.lang-dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
}
.lang-dropdown-menu a:hover {
  background: #eff6f9;
}
.lang-dropdown-menu li {
  text-align: left;
}
.lang-dropdown-menu li > a:hover,
.lang-dropdown-menu .active > a,
.lang-dropdown-menu .active > a:hover {
  text-align: left;
  text-decoration: none;
}
.dropdown.open {
  *z-index: 1000;
}
.dropdown.open .dropdown-toggle {
  color: #ffffff;
}
.dropdown.open .lang-dropdown-menu {
  display: block;
}

/*extras*/

.label2 {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0 0;
    color: #666666;
    text-align: left;
    width: 50%;
}

.nav2 {
    /*background-color: #efefef;*/
    padding: 0.5em 0.75em;
    -moz-box-shadow: 0 0 2px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 2px 1px #aaaaaa;
    box-shadow: 0 0 2px 1px #aaaaaa;
    zoom: 1;
    font-size: 14px;
    border: 0px solid #ccc;
/*
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    */
}

.nav3 {
    /*background-color: #efefef;*/
    padding: 0.5em 0.5em 0.01em 0.5em;
    -moz-box-shadow: 0 0 2px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 2px 1px #aaaaaa;
    box-shadow: 0 0 2px 1px #aaaaaa;
    zoom: 1;
    font-size: 14px;
    border: 0px solid #ccc;
}

.nav3 table {
    border: 0px solid black;
    text-align:center;
    vertical-align:middle;
}

.nav4 {
    /*background-color: #efefef;*/
    padding: 0.5em 0.5em 0.01em 0.5em;
    -moz-box-shadow: 0 0 2px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 2px 1px #aaaaaa;
    box-shadow: 0 0 2px 1px #aaaaaa;
    zoom: 1;
    font-size: 14px;
    border: 0px solid #ccc;
}

.nav4 table {
    border: 1px solid black;
    text-align:center;
    vertical-align:middle;
}

.nav4 table {
    border: 1px solid black;
    text-align:center;
    vertical-align:middle;
}

.nav2div {
    margin: 10px 10px 10px 10px;
}

.buttons2 {
    background-color: #efefef;
    overflow: hidden;
    padding: 0.3em;
    -moz-box-shadow: 0 0 3px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 3px 1px #aaaaaa;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin: 0.1em 0 0 0;
    border: none;
}

.buttons2 input,
.buttons2 a {
    background-color: transparent;
    border: 0;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25em 0;
    overflow: visible;
    padding: 0.25em 0.7em;
    text-decoration: none;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.buttons2 input:hover, .buttons2 input:focus,
.buttons2 a:hover, .buttons2 a:focus {
    background-color: #999999;
    color: #ffffff;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.no-borderradius .buttons2 input:hover, .no-borderradius .buttons2 input:focus,
.no-borderradius .buttons2 a:hover, .no-borderradius .buttons2 a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: underline;
}

.buttons2 .delete, .buttons2 .edit, .buttons2 .save {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    text-indent: 25px;
}

.buttons2 .delete {
    background-image: url(../images/skin/database_delete.png);
}

.buttons2 .edit {
    background-image: url(../images/skin/database_edit.png);
}

.buttons2 .save {
    background-image: url(../images/skin/database_save.png);
}

