/* set language */
.lang-dropdown-toggle {
    margin-right: 16px;
}

/* The container <div> - needed to position the dropdown content */
.lang-dropdown-menu {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.lang-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.lang-dropdown-content a {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: left;
    display: block;
}

/* Change color of dropdown links on hover */
.lang-dropdown-content a:hover {background-color: #f1f1f1}

.lang-dropdown-ul {
    /*background-color: #00b3ee;*/
    list-style: none;
    list-style-type: none;
    padding-left: 20px;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}